<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ClassGo</title>

    <!-- Bootstrap -->
    {{#if wechat}}

    {{else}}
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
	
	<!-- Custom styles for this template -->
    
    <link href="css/signin.css" rel="stylesheet">
    {{/if}}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {{#if wechat}}
    {{else}}
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {{/if}}

	
	<script src="lib/jquery/jquery.json-2.4.js"></script>
	<script src="js/classgo.js"></script>
  {{#if wechat}}
    {{else}}
    <script src="js/crypto-js.js"></script>
  {{/if}}
  </head>
  <body>
    <div class="container">
    	{{{body}}}
    </div> <!-- /container -->
  </body>
</html>