<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ClassGo</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap/bootstrap.min.js"></script>

	
	<script src="lib/jquery/jquery.json-2.4.js"></script>
	<script src="js/classgo.js"></script>
  </head>
  <body>
    <div class="container">
    	{{{body}}}
    </div> <!-- /container -->
  </body>
</html>